{% extends 'base.html' %} {% load static %} {% block content %}

<section class="hero">
  <div
    class="d-flex flex-column justify-content-center align-items-center text-white"
    style="min-height: 600px"
  >
    <h1 class="text-center">Start Your Web Development Journey</h1>
    <h2>
      with In-Depth, Beginner Friendly <br />
      Courses & One-To-One Mentoring
    </h2>
    <a
      href="#courses"
      class="btn btn-primary btn-lg mt-3 p-3 w-100"
      style="max-width: 300px"
      >Browse Courses</a
    >
  </div>
</section>
<section>
  <div
    class="d-flex justify-content-evenly p-3 language-logos flex-xs-column flex-wrap"
    style="min-height: 150px"
  >
    <img
      class="language-logo"
      src="{% static 'images/html_logo.png' %}"
      alt=""
    />
    <img
      class="language-logo"
      src="{% static 'images/CSS3_logo.png' %}"
      alt=""
    />
    <img class="language-logo" src="{% static 'images/js_logo.png' %}" alt="" />
    <img
      class="language-logo"
      src="{% static 'images/python_logo.png' %}"
      alt=""
    />
    <img class="language-logo" src="{% static 'images/dj.jpg' %}" alt="" />
  </div>
</section>
<section class="bg-off-white">
  <div class="p-3 container py-5">
    <h3 class="text-center">Hello</h3>
    <h2 class="text-center text-decoration-underline">I'm Zaid Karaymeh.</h2>
    <p class="text-center m-auto fs-p" style="max-width: 600px">
      Are you new or interested in learning web development? Don't worry, I've
      got your back! We will work together one-on-one live sessions to help you
      level up your skills. Let's make it happen!
    </p>
  </div>
</section>
<section class="bg-white">
  <div class="container py-5">
    <h3 class="text-center mb-3 text-decoration-underline">
      Why learn programming skills with me?
    </h3>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 my-2">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title border-bottom py-2">
              Beginner Friendly Material
            </h5>
            <p class="card-text">
              I will be taking you step by step while building projects. This
              way, you can learn the basics of programming and web development
              by asking questions and implementing what you learn.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 my-2">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title border-bottom py-2">
              Learn from an experienced software engineer
            </h5>
            <p class="card-text">
              With professional experience as a software engineer combined with
              my years of programming experience, I will be able to help you
              learn the skills you need to start your web development career.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 my-2">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title border-bottom py-2">
              Real World Projects & Use Cases
            </h5>
            <p class="card-text">
              I will be teaching you how to build real world projects and use
              cases. This way, you will be able to apply what you learn in your
              future projects and start applying for web development jobs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-off-white">
  <div class="container py-5">
    <h3 class="text-center mb-3 text-decoration-underline">
      What projects will you build?
    </h3>
    <p class="text-center text-muted">
      These are some of the projects, more are getting added
    </p>
    <div
      cass="d-flex flex-column justify-content-center align-items-center"
      style="max-width: 500px"
    >
      <ul class="" style="list-style-position: inside">
        <li>E-Commerce Store (With Payment Integration)</li>
        <li>Upload Media Files to Cloud Storage Provider</li>
        <li>Build RESTful API's</li>
        <li>Personal Portfolio Website</li>
        <li>Blog Website</li>
        <li>Log in and Sign up components and more</li>
      </ul>
    </div>
  </div>
</section>
<section class="bg-white py-5">
  <div class="container" id="courses">
    <h2 class="text-center my-2 mb-4">Available Courses</h2>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 my-2">
        <div class="card p-0 shadow card-hover">
          <img
            src="{% static 'images/htmlcss.webp' %}"
            class="card-img-top p-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="border-bottom py-2 text-center fw-bold">
              HTML & CSS for Frontend Development
            </h5>
            <p class="card-text">
              Get started by learning how to build websites using HTML and CSS.
              You will learn how to build responsive websites and how to use CSS
              frameworks like Bootstrap.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 my-2">
        <div class="card p-0 shadow card-hover">
          <img
            src="{% static 'images/djcourse.png' %}"
            class="card-img-top p-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="border-bottom py-2 text-center fw-bold">
              Python & Django for Fullstack Development
            </h5>
            <p class="card-text">
              Learn how to build websites using Python and Django. You will
              learn how to build websites using Django and how to use Django's
              built-in features to build websites. We will learn by doing
              projects such as a blog website, an e-commerce store, and more.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 my-2">
        <div class="card p-0 shadow card-hover">
          <img
            src="{% static 'images/api.webp' %}"
            class="card-img-top p-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="border-bottom py-2 text-center fw-bold">
              REST API Development with Django
            </h5>
            <p class="card-text text-center">
              Coming Soon! <br />
              <a
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#mailingList"
                href="#"
              >
                Get Notified When The Course is Out
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 my-2">
        <div class="card p-0 shadow card-hover">
          <img
            src="{% static 'images/hero.png' %}"
            class="card-img-top p-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="border-bottom py-2 text-center fw-bold">
              Data Structures & Algorithms with Python
            </h5>
            <p class="card-text text-center">
              Coming Soon! <br />
              <a
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#mailingList"
                href="#"
              >
                Get Notified When The Course is Out
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 my-2">
        <div class="card p-0 shadow card-hover">
          <img
            src="{% static 'images/py-oop.jpg' %}"
            class="card-img-top p-0"
            alt="..."
          />
          <div class="card-body">
            <h5 class="border-bottom py-2 text-center fw-bold">
              Object Oriented Programming (OOP) with Python
            </h5>
            <p class="card-text text-center">
              Coming Soon! <br />
              <a
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#mailingList"
                href="#"
              >
                Get Notified When The Course is Out
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="mailingList"
    tabindex="-1"
    aria-labelledby="mailingListLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mailingListLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 bg-off-white">
  <div id="learnnow" class="container">
    <div class="card p-5 shadow">
      <div class="card-title p-3">
        <h1>Learn Now</h1>
      </div>
      <div class="card-body">
        <form method="post" onsubmit="preventDefault()">
          {% csrf_token %}
          <div class="mb-3">
            <label for="phone" class="form-label">Subject</label>
            {{ form.subject}}
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            {{ form.email}}
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            {{ form.phone}}
            <div id="phoneHelp" class="form-text">
              We'll never share your phone number with anyone else.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
