<!-- {% block scripts %}
<script>
    let loginForm = '#loginForm';
    let alert = '#alert-error';

    $(".form-control").keyup(function () {
        $(alert).hide();
    });

    $(loginForm).submit(function(e) {
        e.preventDefault();
        let form = $(this);
        $.ajax({
            url: "{% url 'login' %}",
            type: "POST",
            data: $(form).serialize(),
            success: function(data) {
                console.log(data['success']);
                // if login failed
                if (!(data['success'])) {
                  $(alert).show();
                }
                else {
                    // Submit the form
                    form.submit();
                }
            },
            error: function () {
                $(form).find(alert).show();
            }
        });
    });  
</script>
{% endblock scripts %}   -->